In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

In [2]:
rating = pd.read_csv('BX-CSV-Dump/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
user = pd.read_csv('BX-CSV-Dump/BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book = pd.read_csv('BX-CSV-Dump/BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book_rating = pd.merge(rating, book, on='ISBN')
cols = ['Year-Of-Publication', 'Publisher', 'Book-Author', 'Image-URL-S', 'Image-URL-M', 'Image-URL-L']
book_rating.drop(cols, axis=1, inplace=True)

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/home/anhnq/PycharmProjects/rs/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
book_rating.head(5)

   User-ID        ISBN  Book-Rating            Book-Title
0   276725  034545104X            0  Flesh Tones: A Novel
1     2313  034545104X            5  Flesh Tones: A Novel
2     6543  034545104X            0  Flesh Tones: A Novel
3     8680  034545104X            5  Flesh Tones: A Novel
4    10314  034545104X            9  Flesh Tones: A Novel

In [4]:
rating_count = (book_rating.
     groupby(by = ['Book-Title'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_book'})
     [['Book-Title', 'RatingCount_book']]
    )

threshold = 25
rating_count = rating_count.query('RatingCount_book >= @threshold')

user_rating = pd.merge(rating_count, book_rating, left_on='Book-Title', right_on='Book-Title', how='left')

user_count = (user_rating.
     groupby(by = ['User-ID'])['Book-Rating'].
     count().
     reset_index().
     rename(columns = {'Book-Rating': 'RatingCount_user'})
     [['User-ID', 'RatingCount_user']]
    )

threshold = 20
user_count = user_count.query('RatingCount_user >= @threshold')

combined = user_rating.merge(user_count, left_on = 'User-ID', right_on = 'User-ID', how = 'inner')

print('Number of unique books: ', combined['Book-Title'].nunique())
print('Number of unique users: ', combined['User-ID'].nunique())

Number of unique books:  5850
Number of unique users:  3192

In [5]:
scaler = MinMaxScaler()
combined['Book-Rating'] = combined['Book-Rating'].values.astype(float)
rating_scaled = pd.DataFrame(scaler.fit_transform(combined['Book-Rating'].values.reshape(-1,1)))
combined['Book-Rating'] = rating_scaled

In [6]:
combined = combined.drop_duplicates(['User-ID', 'Book-Title'])
user_book_matrix = combined.pivot(index='User-ID', columns='Book-Title', values='Book-Rating')
user_book_matrix.fillna(0, inplace=True)
users = user_book_matrix.index.tolist()
books = user_book_matrix.columns.tolist()
user_book_matrix = user_book_matrix.values
user_book_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [7]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /home/anhnq/PycharmProjects/rs/venv/lib/python3.8/site-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [8]:
num_input = combined['Book-Title'].nunique()
num_hidden_1 = 10
num_hidden_2 = 5

X = tf.placeholder(tf.float64, [None, num_input])

weights = {
    'encoder_h1': tf.Variable(tf.random_normal([num_input, num_hidden_1], dtype=tf.float64)),
    'encoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_hidden_2], dtype=tf.float64)),
    'decoder_h1': tf.Variable(tf.random_normal([num_hidden_2, num_hidden_1], dtype=tf.float64)),
    'decoder_h2': tf.Variable(tf.random_normal([num_hidden_1, num_input], dtype=tf.float64)),
}

biases = {
    'encoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'encoder_b2': tf.Variable(tf.random_normal([num_hidden_2], dtype=tf.float64)),
    'decoder_b1': tf.Variable(tf.random_normal([num_hidden_1], dtype=tf.float64)),
    'decoder_b2': tf.Variable(tf.random_normal([num_input], dtype=tf.float64)),
}

In [9]:
def encoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['encoder_h1']), biases['encoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['encoder_h2']), biases['encoder_b2']))
    return layer_2

def decoder(x):
    layer_1 = tf.nn.sigmoid(tf.add(tf.matmul(x, weights['decoder_h1']), biases['decoder_b1']))
    layer_2 = tf.nn.sigmoid(tf.add(tf.matmul(layer_1, weights['decoder_h2']), biases['decoder_b2']))
    return layer_2

In [10]:
encoder_op = encoder(X)
decoder_op = decoder(encoder_op)
y_pred = decoder_op
y_true = X

In [11]:
loss = tf.losses.mean_squared_error(y_true, y_pred)
optimizer = tf.train.RMSPropOptimizer(0.03).minimize(loss)
eval_x = tf.placeholder(tf.int32, )
eval_y = tf.placeholder(tf.int32, )
pre, pre_op = tf.metrics.precision(labels=eval_x, predictions=eval_y)

WARNING:tensorflow:From /home/anhnq/PycharmProjects/rs/venv/lib/python3.8/site-packages/tensorflow/python/training/rmsprop.py:123: calling Ones.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [12]:
init = tf.global_variables_initializer()
local_init = tf.local_variables_initializer()
pred_data = pd.DataFrame()

In [13]:
with tf.Session() as session:
    epochs = 100
    batch_size = 35

    session.run(init)
    session.run(local_init)

    num_batches = int(user_book_matrix.shape[0] / batch_size)
    user_book_matrix = np.array_split(user_book_matrix, num_batches)

    for i in range(epochs):

        avg_cost = 0
        for batch in user_book_matrix:
            _, l = session.run([optimizer, loss], feed_dict={X: batch})
            avg_cost += l

        avg_cost /= num_batches

        print("epoch: {} Loss: {}".format(i + 1, avg_cost))

    user_book_matrix = np.concatenate(user_book_matrix, axis=0)

    preds = session.run(decoder_op, feed_dict={X: user_book_matrix})

    pred_data = pred_data.append(pd.DataFrame(preds))

    pred_data = pred_data.stack().reset_index(name='Book-Rating')
    pred_data.columns = ['User-ID', 'Book-Title', 'Book-Rating']
    pred_data['User-ID'] = pred_data['User-ID'].map(lambda value: users[value])
    pred_data['Book-Title'] = pred_data['Book-Title'].map(lambda value: books[value])

    keys = ['User-ID', 'Book-Title']
    index_1 = pred_data.set_index(keys).index
    index_2 = combined.set_index(keys).index

    top_ten_ranked = pred_data[~index_1.isin(index_2)]
    top_ten_ranked = top_ten_ranked.sort_values(['User-ID', 'Book-Rating'], ascending=[True, False])
    top_ten_ranked = top_ten_ranked.groupby('User-ID').head(10)

epoch: 1 Loss: 0.35261522773857956
epoch: 2 Loss: 0.2931693196296692
epoch: 3 Loss: 0.0667578014033427
epoch: 4 Loss: 0.0037893769970921043
epoch: 5 Loss: 0.0033433245070237706
epoch: 6 Loss: 0.003144669896605742
epoch: 7 Loss: 0.0031052019490584075
epoch: 8 Loss: 0.002956907853361342
epoch: 9 Loss: 0.0027566644130274653
epoch: 10 Loss: 0.002719738501492519
epoch: 11 Loss: 0.002712661931342394
epoch: 12 Loss: 0.0027073579853154964
epoch: 13 Loss: 0.0027032294656037467
epoch: 14 Loss: 0.00269992110462716
epoch: 15 Loss: 0.0026972062097719083
epoch: 16 Loss: 0.002694950091069216
epoch: 17 Loss: 0.0026930717899781333
epoch: 18 Loss: 0.002691486909228203
epoch: 19 Loss: 0.002690125339930611
epoch: 20 Loss: 0.0026889432996900363
epoch: 21 Loss: 0.0026879095636144442
epoch: 22 Loss: 0.0026869996768105163
epoch: 23 Loss: 0.0026861935416441205
epoch: 24 Loss: 0.0026854748151950783
epoch: 25 Loss: 0.002684830153197214
epoch: 26 Loss: 0.002684248662502556
epoch: 27 Loss: 0.00268372162603415
epoch: 28 Loss: 0.002683241699392406
epoch: 29 Loss: 0.0026828029326030184
epoch: 30 Loss: 0.00268240019955396
epoch: 31 Loss: 0.0026820292696356773
epoch: 32 Loss: 0.0026816864994323843
epoch: 33 Loss: 0.002681368830163482
epoch: 34 Loss: 0.0026810735983487507
epoch: 35 Loss: 0.0026807984002036873
epoch: 36 Loss: 0.0026805412131719864
epoch: 37 Loss: 0.002680300321726763
epoch: 38 Loss: 0.002680074126756453
epoch: 39 Loss: 0.0026798612850073436
epoch: 40 Loss: 0.0026796606975699683
epoch: 41 Loss: 0.002679471257859125
epoch: 42 Loss: 0.0026792922469142536
epoch: 43 Loss: 0.0026791228856482023
epoch: 44 Loss: 0.0026789626073358314
epoch: 45 Loss: 0.0026788109642259038
epoch: 46 Loss: 0.002678667321790951
epoch: 47 Loss: 0.002678531279613438
epoch: 48 Loss: 0.002678402242823862
epoch: 49 Loss: 0.0026782796843550527
epoch: 50 Loss: 0.002678163019571822
epoch: 51 Loss: 0.0026780517802543037
epoch: 52 Loss: 0.002677945597967194
epoch: 53 Loss: 0.0026778440339142806
epoch: 54 Loss: 0.002677746868057811
epoch: 55 Loss: 0.0026776537396382173
epoch: 56 Loss: 0.0026775645053751028
epoch: 57 Loss: 0.0026774788659147835
epoch: 58 Loss: 0.00267739661529169
epoch: 59 Loss: 0.0026773175513781196
epoch: 60 Loss: 0.00267724142471267
epoch: 61 Loss: 0.002677167966644597
epoch: 62 Loss: 0.00267709699167696
epoch: 63 Loss: 0.0026770283590879414
epoch: 64 Loss: 0.002676961843722633
epoch: 65 Loss: 0.0026768973841751506
epoch: 66 Loss: 0.0026768348742644867
epoch: 67 Loss: 0.0026767741975753188
epoch: 68 Loss: 0.0026767153630626725
epoch: 69 Loss: 0.0026766582786177215
epoch: 70 Loss: 0.0026766029736641182
epoch: 71 Loss: 0.002676549358651615
epoch: 72 Loss: 0.0026764974182287415
epoch: 73 Loss: 0.0026764470474937786
epoch: 74 Loss: 0.002676398078859835
epoch: 75 Loss: 0.002676350416380216
epoch: 76 Loss: 0.002676303982018278
epoch: 77 Loss: 0.0026762585506191127
epoch: 78 Loss: 0.002676214137534191
epoch: 79 Loss: 0.00267617052656363
epoch: 80 Loss: 0.0026761277253831645
epoch: 81 Loss: 0.002676085608622448
epoch: 82 Loss: 0.002676044130227068
epoch: 83 Loss: 0.0026760032454219004
epoch: 84 Loss: 0.002675962890242482
epoch: 85 Loss: 0.002675923023751558
epoch: 86 Loss: 0.0026758835563988805
epoch: 87 Loss: 0.0026758444830672916
epoch: 88 Loss: 0.002675805703972231
epoch: 89 Loss: 0.00267576723190659
epoch: 90 Loss: 0.0026757289722029653
epoch: 91 Loss: 0.0026756908762483643
epoch: 92 Loss: 0.0026756529529978123
epoch: 93 Loss: 0.0026756151448832925
epoch: 94 Loss: 0.002675577352120244
epoch: 95 Loss: 0.0026755395926187165
epoch: 96 Loss: 0.0026755017985763785
epoch: 97 Loss: 0.0026754639264973965
epoch: 98 Loss: 0.0026754259571924316
epoch: 99 Loss: 0.0026753878049491035
epoch: 100 Loss: 0.0026753494492987844

In [14]:
top_ten_ranked.loc[top_ten_ranked['User-ID'] == 278582]

,User-ID,Book-Title,Book-Rating
18660405,278582,The Lovely Bones: A Novel,0.075497
18659952,278582,The Da Vinci Code,0.062779
18657487,278582,Harry Potter and the Chamber of Secrets (Book 2),0.046229
18660710,278582,The Secret Life of Bees,0.045780
18657491,278582,Harry Potter and the Prisoner of Azkaban (Book 3),0.044548
18656352,278582,Bridget Jones's Diary,0.042257
18658056,278582,Life of Pi,0.042116
18660634,278582,The Red Tent (Bestselling Backlist),0.038615
18657493,278582,Harry Potter and the Sorcerer's Stone (Harry P...,0.038080
18661051,278582,To Kill a Mockingbird,0.037937

In [15]:
book_rating.loc[book_rating['User-ID'] == 278582].sort_values(by=['Book-Rating'], ascending=False)

,User-ID,ISBN,Book-Rating,Book-Title
174885,278582,0226848620,10,Chinese Bell Murders (Judge Dee Mysteries)
176582,278582,157566254X,10,"Skin Deep, Blood Red"
40008,278582,0441478123,10,The Left Hand of Darkness (Remembering Tomorrow)
174861,278582,0061044725,10,Search the Shadows
58156,278582,0451202503,10,The Songcatcher: A Ballad Novel
64570,278582,1400034779,10,The No. 1 Ladies' Detective Agency (Today Show...
175958,278582,0345350499,10,The Mists of Avalon
176314,278582,0449223558,9,Murdering Mr. Monti: A Merry Little Tale of Se...
174877,278582,0140277471,9,Blanche Cleans Up
176438,278582,0515136557,8,The Cat Who Brought Down the House
176503,278582,0671877445,8,"Cetaganda (Bujold, Lois Mcmaster. Vorkosigan A..."
176484,278582,055327239X,8,Service of All the Dead
176187,278582,0425191583,8,Imitation in Death (Eve Dallas Mysteries (Pape...
175949,278582,0345348176,8,From Doon With Death
176263,278582,0449003183,8,Brunswick Gardens (Charlotte &amp; Thomas Pitt...
176290,278582,0449206874,8,One Fine Day the Rabbi Bought a Cross
176305,278582,0449217213,8,Incident at Badamya
174882,278582,0141001976,8,Blanche Passes Go
176584,278582,1890208442,8,Daddy's Gone A-Hunting (Wesley Farrell Novels)
176572,278582,0804109818,8,The Jewel That Was Ours
23996,278582,0449221512,8,I Is for Innocent
60802,278582,0671001795,8,Two for the Dough
108791,278582,0345440064,8,Death of a Stranger
176517,278582,0743406583,7,Maggody and the Moonbeams
174895,278582,0312957785,7,The Venus Throw
175303,278582,0312980140,7,Seven Up (A Stephanie Plum Novel)
175596,278582,0312983867,7,Hard Eight : A Stephanie Plum Novel (A Stephan...
176171,278582,0425190927,7,The Wife Test
176139,278582,0425163717,7,Holiday in Death
176562,278582,0743480562,6,"CSI, Miami: Heat Wave"
176567,278582,0765344513,6,Over the Wine-Dark Sea (Hellenistic Seafaring ...
175905,278582,0312991460,6,To the Nines (A Stephanie Plum Novel)
176255,278582,0425193772,5,Indigo Dying
175763,278582,0312990456,5,One for the Money (A Stephanie Plum Novel)
175506,278582,0312983298,3,Full Speed (Janet Evanovich's Full Series)
174867,278582,0061063746,2,Hang Loose
176571,278582,076534503X,0,The Gryphon's Skull (Hellenistic Seafaring Adv...
176389,278582,048627263X,0,Flatland: A Romance of Many Dimensions (Dover ...
176565,278582,0743497988,0,Law and Order Deadline : An Original Law and O...
176486,278582,0553574027,0,Antarctica
176579,278582,1555971792,0,The Body in Four Parts
176385,278582,0451208498,0,Thieves' Paradise
176524,278582,0743448677,0,Without Pity : Ann Rule's Most Dangerous Killers
14574,278582,0312966970,0,Four To Score (A Stephanie Plum Novel)
176331,278582,0451205146,0,Black Hawk Down (Movie Tie-in)
17190,278582,0553581112,0,Justice Hall: A Mary Russell Novel (Mary Russe...
175758,278582,0312985649,0,A Grave Denied (A Kate Shugak Novel)
175103,278582,0312976275,0,Hot Six : A Stephanie Plum Novel (A Stephanie ...
174902,278582,0312971346,0,High Five (A Stephanie Plum Novel)
174891,278582,0312851561,0,The Sword of Samurai Cat (Tor Fantasy)
174890,278582,0312168586,0,Great Harry
174869,278582,0140250360,0,Blanche Among the Talented Tenth
174852,278582,0061032484,0,Children of the Storm
174815,278582,0060549270,0,A Greek God at the Ladies' Club (Avon Romance)
174814,278582,0060534397,0,All Shall Be Well
174809,278582,0060534389,0,A Share in Death
116741,278582,0380817152,0,The Golden One : A Novel of Suspense
46554,278582,0312966091,0,Three To Get Deadly : A Stephanie Plum Novel (...
24674,278582,0425175405,0,Black Notice
175760,278582,0312986327,0,Out on a Limb (A Claire Malloy Mystery)